h1 {
	color: coral;
	background-image: linear-gradient(to top, blue, lightskyblue);
	text-align: center;
	font-size: 500%;

}
.mybody{
	justify-content: space-around;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.heading2{
	text-align: center;
	font-size: 300%;
	color: orange;
	outline-color: blue;
	outline-style: outset;
	outline-width: 10px;

	/*padding: 5%;*/
}

.image {
	border-radius: 50%;
	border: green solid;
	width: 300px;
	height: auto;
	margin: 3%
}

.image2 {
	border-radius: 50%;
	border: purple solid;
	width: 300px;
	height: auto;
	margin: 3%
}

.image3 {
	opacity: 1;
	border-radius: 50%;
	border: gold solid;
	width: auto;
	height: 550px;
	margin: 3%
}
