h1 {
	color: #b6116e;
	text-align: center;
	font-size: 500%;
	margin-left: auto;
	margin-right: auto;

}
.mybody{
	justify-content: space-around;
	text-align: center;
	font-size: 120%;
	color: chartreuse;
	background-color: black;
}

.mybody2{
	justify-content: space-around;
	text-align: center;
	font-size: 120%;
	color: chartreuse;
	background-color: black;
	border: 8px solid chartreuse;
	margin: 100px 100px 100px 100px;
}

.bio{
	border: 8px solid #b6116e;
  	margin: 100px 100px 100px 100px;
  	
}

.heading2{
	text-align: center;
	font-size: 150%;
	color: chartreuse;
}

.heading3{
	text-align: center;
	text-shadow: 2px 2px 2px black;
	font-size: 200%;
	color: #b6116e;
}

.image {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	border: 5px solid #b6116e;
	width: 300px;
	height: auto;
}

.image2 {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	width: 50%;
	height: auto;
}

.image3 {
	opacity: 1;
	border-radius: 50%;
	border: gold solid;
	width: auto;
	height: 550px;
	margin: 3%
}
